version: '3'
services: 
  rasp_cloud:
    build:
      dockerfile: Dockerfile
      context: .
    container_name: openrasp
    volumes: 
      - ./config/app.conf:/rasp/conf/app.conf
    ports: 
      - 8086:8086
    stdin_open: true
    tty: true
    depends_on:
      - elasticsearch
    entrypoint: ["./wait-for-it.sh", "-t", "0", "mongo:27017", "elasticsearch:9200", "--", "./start.sh"]
    links:
      - elasticsearch
      - mongo

  elasticsearch: 
    image: elasticsearch:6.8.12
    container_name: elasticsearch
    env_file: 
      - .env
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    depends_on:
      - mongo
      
  mongo:
    image: "mongo:latest"
    container_name: mongodb
    hostname: mongodb
    env_file:
      - .env
    environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
            MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - ./mongodb/create-user.sh:/docker-entrypoint-initdb.d/create-user.sh
      - ./mongodb/mongod.conf:/etc/mongod.conf
      - mongo-volume/:/data/db/
    ports:
      - "27017:27017"
    command: ["-f", "/etc/mongod.conf"]
    
volumes:
  esdata:
    driver: local
  rasp_data:
    driver: local
  mongo-volume:
    driver: local
