version: '3'
services: 
  server:
    build:
      dockerfile: Dockerfile
      context: .
    ports: 
      - 8086:8086
    volumes: 
      - ./logs:/logs/
    networks:
      - rasp
  elasticsearch: 
    image: "elasticsearch:6.8.12"
    container_name: elasticsearch
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - rasp
  mongo:
    image: "mongo:latest"
    container_name: mongodb
    hostname: mongodb
    environment:  
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      # - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
      - ./mongodb/create-user.sh:/docker-entrypoint-initdb.d/create-user.sh
      - ./mongodb/mongod.conf:/etc/mongod.conf
      - ./mongo-volume/:/data/db/
    ports:
            - "27017-27019:27017-27019"
    networks:
      - rasp
    command: ["-f", "/etc/mongod.conf"]
    
volumes:
  esdata:
    driver: local


networks:
  rasp:
    driver: bridge